{% extends "base.html" %}
 {% block content %}
<table border="1" class="headerTable">
	<tr>
		<td width="100%">
			<div class="progressbar-heading grids-heading header">
				{% load static %}
				<img alt="logo"
				src="{% static 'images/2byteslogo.JPG' %}">
				<h2>Pitch and Slope Calculator</h2>
				{% if message %}
				<script type="text/javascript">
					alert({{ message }});
				</script>
				{% endif %} 
				{% if request.session.userName %} 
				<!-- <a href="{% url 'viewImage' %}">Welcome {{ request.session.userName }}</a><u>(<a style="" href="{% url 'logout' %}">logout</a>)</u> -->
				<p style="font-size: 14px;font-weight: bold;color: blue;float: right;margin-top:30px;font-weight: bold;text-align:center;">
					<a href="{% url 'viewImage' %}">Welcome {{ request.session.userName }}</a><u>(<a style="" href="{% url 'logout' %}">logout</a>)</u>
				</p> 
				{% endif %}
			</div>
		</td>
	</tr>
</table>
<div class="main-grid">
			<div class="agile-grids">	
				<!-- validation -->
				<div class="grids">
					<!-- <div class="progressbar-heading grids-heading">
						<h2>Pitch and Slope Calculator</h2>
					</div> -->
					{% if message %}
          			  <ul>
                		<li style="font-size:14px;color:{{ color }};font-weight:bold;">{{ message }}</li>
            		 </ul>
        			{% endif %}
					<div class="forms-grids">
						<div class="forms4">
						<div class="w3agile-validation w3ls-validation">
							<div class="panel panel-widget agile-validation register-form1">
								<div class="validation-grids widget-shadow" data-example-id="basic-forms"> 
									<div class="input-info">
										<h3>Registration</h3>
									</div>
									<div class="form-body form-body-info">
										<form data-toggle="validator" action="{% url 'signup' %}" method="post">
										{% if uploadedFile %}
											<input type="hidden" name="uploadedUrl" id="id_uploadedFile" value="{{ uploadedFile }}">
										{% endif %}
										{% csrf_token %}
											<div class="form-group valid-form">
												<input type="text" class="form-control" id="id_userId" name="userId" placeholder="Username" required />
												{{ form.errors.userId }}
											</div>
											<div class="form-group valid-form">
												<input type="text" class="form-control" id="id_firstName" name="firstName" placeholder="First Name" required />
												{{ form.errors.firstName }}
											</div>
											<div class="form-group valid-form">
												<input type="text" class="form-control" id="id_lastName" name="lastName" placeholder="Last Name" required />
												{{ form.errors.lastName }}
											</div>
											<div class="form-group has-feedback">
												<input type="email" class="form-control" id="id_email" name="email" placeholder="Email" data-error="That email address is invalid" required />
												<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
												<span class="help-block with-errors"></span>
												{{ form.errors.email }}
											</div>
											
											<div class="form-group">
											  <input type="password" data-toggle="validator" data-minlength="6" class="form-control" id="id_password" name="password" placeholder="Password" required />
											  <span class="help-block">Minimum of 6 characters</span>
											  {{ form.errors.password }}
											</div>
											<div class="form-group">
											  <input type="password" class="form-control" id="id_password1" data-match="#inputPassword" data-match-error="Whoops, these don't match" name="password1" placeholder="Confirm password" required />
											  <div class="help-block with-errors"></div>
											  {{ form.errors.password1 }}
											</div>
											<div class="form-group">
												<center><button type="submit" class="btn btn-primary">Submit</button></center>
											</div>
										</form>
									</div>
								</div>
							</div>
							
							<div class="panel panel-widget agile-validation">
								<div class="validation-grids validation-grids-right login-form">
									<div class="widget-shadow login-form-shadow" data-example-id="basic-forms"> 
										<div class="input-info">
											<h3>Login</h3>
										</div>
										<div class="form-body form-body-info">
											<form data-toggle="validator" action="{% url 'processLogin' %}" method="post">
											{% if uploadedFile %}
												<input type="hidden" name="uploadedUrl" id="id_uploadedFile" value="{{ uploadedFile }}">
											{% endif %}
											{% csrf_token %}
												<div class="form-group valid-form">
													<input type="text" class="form-control" id="id_userId" name="userId" placeholder="Username" required>
												</div>
												<div class="form-group">
													<input type="password" data-toggle="validator" data-minlength="6" class="form-control" id="id_passsword" name="password" placeholder="Password" required />
												</div>
												<div class="bottom">
													<div class="form-group">
														<center><button type="submit" class="btn btn-primary">Login</button></center>
													</div>
													<div class="clearfix"> </div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clear"> </div>
						</div>
					</div>
				</div>
				<!-- //validation -->
			</div>
		</div>
 
{% endblock %}